.topLeftContainer{
    flex: 2;
    margin-left: 30px;
}

.houseOne{
    width: 300px;
    height: 200px;
}
.houseTwo{
    width: 300px;
    height: 200px;
    margin-left: 5px;
}
.houseThree{
    width: 300px;
    height: 200px;
}
.houseFour{
    width: 300px;
    height: 200px;
    margin-left: 5px;
}

