.memberIcon{
    height: 170px;
    width: 170px;
    
}

.aboutUsContainer{
    padding-top: 120px;
    font-family: sans-serif;
}
.topic1{
    margin-left: 700px;
    font-size: 25px;
    font-weight: bold;
}
.underline{
    width: 90px;
    height: 3px;
    background-color: rgb(140, 179, 167);
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}
.descriptionContainer{
    padding: 30px 90px;
    text-align: center;
}
.topic2{
    margin-left: 700px;
    font-size: 25px;
    font-weight: bold;
}

.body {
    font-family: Arial, sans-serif;
  }

  .formTopic{
    font-size: 35px;
    font-weight: bold;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 170px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: rgb(140, 179, 167);
    color: white;
    cursor: pointer;
    border: none;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(140, 179, 167);
  }
  
  .error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  