body {
    margin: 0;
  }
  
  .FormContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .formTopic {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .topic {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .formBox {
    display: flex;
    flex-direction: column;
  }
  
  .inputs {
    margin-bottom: 20px;
  }
  
  .inputItem {
    margin-bottom: 15px;
  }
  
  .inputName,
  .inputPassword,
  .inputRole,
  .inputLocation,
  .inputContactNo {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .inputRole,
  .inputGender {
    display: flex;
    align-items: center;
  }
  
  .userInput,
  .ownerInput,
  .maleInput,
  .femaleInput {
    margin-right: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .signupbtn {
    background-color:  rgb(140, 179, 167);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .signupbtn:hover {
    background-color:  rgb(140, 179, 167);
  }
  